body{
    background-color: darkgray;
}

.nav-class {
  background-color:whitesmoke;
  display: flex;
}
hr {
    border: 3px solid black; 
}
.nav-container{
    flex: 1;
    display: flex;
}
.nav-item{
    flex: 1;
    display: flex;
    justify-content: center;
    height: 10vh;
    border: white 1px solid;
}
.nav-item > a{
    color:  #da627d;
    font-weight: bold;
    font-size: large;
    align-self: center;
}
.selected{
    background-color:  #da627d;
}
.selected > a{
    color: white;
}

.nav-item:hover  {
    background-color:  #da627d;
}
.nav-item:hover  a {
    background-color:  #da627d;
    color: white;
}



  
