.page3-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 3%;
}
.page3-content-header{
    color: #da627d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.page3-content{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    text-align: center;
}

hr {
    border: 3px solid #da627d; 
    width: 25%;
}
.page3-img-content-container{
    display: flex;
    justify-content: space-around;
}


.img-content-box{
    display: flex;
    width:25%;
    flex-direction: column;
}
.img-container{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -15vh;
    z-index: 1;
}
.img-item{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.content-container{
    padding-top:15vh;
    padding-left: 20px;
    padding-right: 20px;
    height: 20vh;
    background-color: black;
    display: flex;
    margin-bottom: 10vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1.page3Heading{
    color: #da627d;
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


